# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-base
  NODE_ENV: development
  DB_USER: root
  DB_PASS:
  DB_DATABASE: slstest
  DB_HOST=127.0.0.1
prod:
  APP_NAME: serverless-base
  NODE_ENV: production
  DB_USER: root
  DB_PASS:
  DB_DATABASE: slstest
  DB_HOST=127.0.0.1
